@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #247ba0; /* rgb(3, 4, 94) */
    --color-secondary: #E2E8F0; /* rgb(226, 232, 240) */
    --color-success: #0D9488; /* rgb(13, 148, 136) */
    --color-info: #0891B2; /* rgb(8, 145, 178) */
    --color-dark-blue-1: #0C4A6E; /* rgb(12, 74, 110) */
    --color-dark-blue-2: #03045E;; /* rgb(12, 74, 110) */
    --color-warning: #CA8A04; /* rgb(202, 138, 4) */
    --color-pending: #C2410C; /* rgb(194, 65, 12) */
    --color-danger: #B91C1C; /* rgb(185, 28, 28) */
    --color-light: #F1F5F9; /* rgb(241, 245, 249) */
    --color-dark: #1E293B; /* rgb(30, 41, 59) */
    --color-dark-grey: #475569
}

body {
    margin: 0;
    /*display: flex;*/
    /*place-items: center;*/
    /*min-width: 320px;*/
    /*min-height: 100vh;*/
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html body {
    letter-spacing: .025em;
    font-size: .875rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #475569;
    line-height: 1.25rem;
    font-family: GothamBook, Public Sans;
    overflow-x: hidden;
}

.input-error {
    border: 1px solid red;
}

/* Start BebasNeue Font */
@font-face {
    font-family: BebasNeueThin;
    src: url('assets/fonts/bebasNeue/BebasNeue Thin.otf') format("opentype");
}

@font-face {
    font-family: BebasNeueLight;
    src: url('assets/fonts/bebasNeue/BebasNeue-Light.ttf') format("truetype");
}

@font-face {
    font-family: BebasNeueRegular;
    src: url('assets/fonts/bebasNeue/BebasNeue-Regular.otf') format("opentype");
}

@font-face {
    font-family: BebasNeueBold;
    src: url('assets/fonts/bebasNeue/BebasNeue-Bold.ttf') format("truetype");
}

@font-face {
    font-family: BebasNeueBook;
    src: url('assets/fonts/bebasNeue/BebasNeue-Bold.ttf') format("truetype");
}

/* End BebasNeue Font */


/* Start Gotham Font */
@font-face {
    font-family: GothamThin;
    src: url('assets/fonts/gotham/Gotham-Thin.otf') format("opentype");
}

@font-face {
    font-family: GothamLight;
    src: url('assets/fonts/gotham/Gotham-Light.otf') format("opentype");
}

@font-face {
    font-family: GothamMedium;
    src: url('assets/fonts/gotham/Gotham Medium.otf') format("opentype");
}

@font-face {
    font-family: GothamMediumItalic;
    src: url('assets/fonts/gotham/GothamMediumItalic.ttf') format("truetype");
}

@font-face {
    font-family: GothamBold;
    src: url('assets/fonts/gotham/Gotham-Bold.otf') format("opentype");
}

@font-face {
    font-family: GothamBlack;
    src: url('assets/fonts/gotham/Gotham-Black.otf') format("opentype");
}

@font-face {
    font-family: GothamBook;
    src: url('assets/fonts/gotham/GothamBook.ttf') format("truetype");
}

/* End Gotham Font */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spinners in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.signin-bg-airplane {
    background-image: url("./assets/images/signin-img.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.bg-overlay-airplane {
    background-image: url(/src/assets/images/ariplan-overlay.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 376px;
    position: absolute;
    background-position: center center;
}

.bg-nav-overlay {
    position: relative;
}

.bg-nav-overlay::after {
    content: '';
    position: absolute;
    background-image: url(/src/assets/images/bg-overlay-boxes.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 376px;
    background-position: center center;
    top: 0;
    left: 0;
}

.box {
    box-shadow: 0 3px 5px #0000000b;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: .6rem;
    position: relative;
}

.box--chart {
    position: relative;
    box-shadow: 0 3px 5px #0000000b;
    background-color: #FFFFFF;
    border: 1px solid #E0E8F1;
    border-radius: .6rem;
    height: fit-content;
    /*z-index: 50;*/
}

.box--chart--1 {
    position: relative;
    box-shadow: 0 3px 5px #0000000b;
    border: 4px solid #FFFFFF;
    border-radius: .6rem;
    height: 226px;
}

.box--chart--1::before {
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 1px 2px #0000000d;
    height: 100%;
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
    border-radius: .5rem;
    left: .875rem;
    right: .875rem;
    top: 0;
    margin-top: calc(.75rem + 4px);
}

.box--stacked::before {
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 1px 2px #0000000d;
    height: 100%;
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
    border-radius: .5rem;
    left: .875rem;
    right: .875rem;
    top: 0;
    margin-top: .75rem;
}

.box--picker--stacked::before {
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 1px 2px #0000000d;
    height: 100%;
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
    border-radius: .5rem;
    left: .875rem;
    right: .875rem;
    top: 0;
    margin-top: .75rem;
}

.slider-box {
    position: relative;
    box-shadow: 0 3px 5px #0000000b;
    background-color: #FFFFFF;
    border: 1px solid #E0E8F1;
    border-radius: .6rem;
    /*z-index: 50;*/
    height: 226px;
}

.box--stacked::before {
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 1px 2px #0000000d;
    height: 100%;
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
    border-radius: .5rem;
    left: .875rem;
    right: .875rem;
    top: 0;
    margin-top: .75rem;
}

.box--stacked--slider::before {
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 1px 2px #0000000d;
    height: 100%;
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
    border-radius: .5rem;
    left: .875rem;
    right: .875rem;
    top: 3px;
    margin-top: .75rem;
}

.sidebar-content-wrapper {
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.side-menu__link {
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
    border-radius: .6rem;
    border: 1px solid transparent;
    padding: .5rem .65rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, 1, 1);
    transition-duration: .2s;
}

.side-menu__link:hover {
    background-color: white;
    border: 1px solid #E3E7EA;
    box-shadow: 0 2px 3px #0000000b;
}

.side-menu__link__active {
    background-color: white;
    border: 1px solid #E3E7EA;
    box-shadow: 0 2px 3px #0000000b;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-menu__link__title__active {
    color: #247ba0;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 1.2rem;
    font-size: 12px;
}

.side-menu__link__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #475569;
    margin-left: 1.2rem;
    font-size: 12px;
}

.sidebar-menu-list ul.scrollable > li ul {
    padding: .25rem 0;
    background: #fff;
    border-radius: .6rem;
    border: 1px solid #e2e8f0;
    margin-bottom: .5rem;
    width: 100%;
}

.tns-outer {
    position: relative;
}

/*#tns1-iw {*/
/*    margin: 0px -16px 10px 0px;*/
/*}*/
/*#tns1-mw {*/
/*    padding-bottom: 1rem;*/
/*    position: relative;*/
/*    top: 20px;*/
/*}*/

.insights-cards-slider #tns2-mw {
    padding-bottom: 1rem;
}

@media (max-width: 640px) {
    .insights-cards-slider #tns2-mw {
        padding-top: 2rem;
    }
}

.insights-cards-slider .tns-controls {
    width: fit-content;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.insights-cards-slider .tns-controls button {
    width: 40px;
    height: 40px;
    transition-duration: .2s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    font-weight: 500;
    padding: .5rem .75rem;
    border-radius: .5rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(71 85 105);
}

.insights-cards-slider .tns-controls button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(100, 116, 139, 0.2);
}

.insights-cards-slider #customize-controls {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 0;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 640px) {
    .insights-cards-slider #customize-controls {
        width: 100%;
        justify-content: flex-start;
        top: 40px;
    }
}

#card-slider .tns-outer {
    position: relative;
    height: 100%;
}

#card-slider .tns-outer .tns-nav {
    margin-bottom: -1.8rem;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;

    width: fit-content;
    position: relative;
    left: 1rem;
    top: 1rem;
}

#card-slider .tns-outer .tns-nav button {
    width: 8px;
    height: 8px;
    background-color: #FFFFFF66;
    border-radius: 9999px;
    margin-left: .15rem;
    margin-right: .15rem;
    outline: none;
}

#card-slider .tns-outer .tns-nav .tns-nav-active {
    background-color: #FFFFFFB3;
    width: 20px;
}

.litepicker {
    background-color: #fff;
    border-radius: .5rem;
    font-size: .875rem;
    z-index: 999999 !important;
    margin-top: 7px;
    box-shadow: 0 3px 20px #00000014;
    border: 1px solid #e2e8f0;
    position: absolute;
    top: 150px;
    left: 783.8px;
}

.litepicker .container__months {
    padding-top: 0 !important;
}

.litepicker .container__footer {
    border-top: 1px solid rgb(226 232 240 / 60%);
    margin: 0;
    padding: .75rem;
}

.litepicker .container__months, .litepicker .container__footer {
    box-shadow: none;
    background-color: transparent;
    padding: .75rem;
}

.litepicker .container__months {
    padding-left: .25rem;
    padding-right: .25rem;
}

.litepicker .container__months .month-item-header {
    padding: .5rem 0 0 0;
}

.litepicker .container__months .month-item-header .button-previous-month {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

.litepicker .container__months .month-item-header .button-previous-month:hover svg, .litepicker .container__months .month-item-header .button-previous-month svg, .litepicker .container__months .month-item-header .button-next-month:hover svg, .litepicker .container__months .month-item-header .button-next-month svg {
    fill: transparent;
    border: solid #4a5568;
    border-width: 0 2px 2px 0;
    border-radius: 0;
    width: .5rem;
    height: .5rem;
    display: block;
}

.litepicker .container__months .month-item-header .button-previous-month svg {
    transform: rotate(135deg);
    margin-right: -.25rem;
}

.litepicker .container__months .month-item-header .button-previous-month:hover {
    background-color: #f1f5f9;
}

.litepicker .container__months .month-item-header .button-next-month:hover {
    background-color: #f1f5f9;
}

.litepicker .container__days .day-item:hover {
    box-shadow: none;
    background-color: #f1f5f9;
    color: #1e293b;
}

.litepicker .container__days .day-item.is-today {
    font-weight: 500;
    color: #334155;
}

.litepicker .container__days .day-item.is-today:hover {
    background: none;
}

.litepicker .container__months .month-item-header .button-next-month {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

.litepicker .container__months .month-item-weekdays-row {
    color: #94a3b8;
    margin-top: .75rem;
}

.litepicker .container__days .week-number {
    color: #94a3b8;
}

.litepicker .container__days .day-item {
    color: #1e293b;
}

.litepicker .container__days .day-item.is-start-date, .litepicker .container__days .day-item.is-start-date:hover, .litepicker .container__days .day-item.is-end-date, .litepicker .container__days .day-item.is-end-date:hover {
    background-color: #334155;
    color: #fff;
}

.litepicker .container__days .day-item.is-in-range, .litepicker .container__days .day-item.is-in-range:hover {
    background-color: #f1f5f9;
}

.litepicker .container__footer .button-apply, .litepicker .container__footer .button-cancel {
    width: 5rem;
    padding: .25rem .5rem;
    border-radius: .375rem;
    font-weight: 500;
    margin-left: .25rem;
    margin-right: 0;
}

.litepicker .container__footer .button-cancel {
    background-color: #e2e8f0b3;
    color: #64748b;
}

.litepicker .container__footer .button-apply {
    background-color: #334155;
    color: #fff;
}

.litepicker .container__months .month-item-header div > .month-item-name,
.litepicker .container__months .month-item-header div > .month-item-year {
    background-size: 15px;
    background-position: center right .6rem;
    background-color: transparent;
    font-size: .875rem;
    border-width: 1px;
    border-style: solid;
    background-repeat: no-repeat;
    padding: 4px 8px 4px 8px;
    border-radius: .375rem;
    border-color: #e2e8f0;
    font-weight: 400;
    outline: none;
}

.litepicker .container__months .month-item-header div > .month-item-name, .litepicker .container__months .month-item-header div > .month-item-year {
    background-size: 15px;
    background-position: center right .6rem;
    background-color: transparent;
    font-size: .875rem;
    border-width: 1px;
    border-style: solid;
    background-repeat: no-repeat;

    border-radius: .375rem;
    border-color: #e2e8f0;
    font-weight: 400;
}

.litepicker .container__footer .preview-date-range {
    margin-right: 10px;
    font-size: 90%;
}

@media (max-width: 639px) {
    .litepicker {
        left: 0 !important;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1023px) {
    .litepicker {
        width: 310px;
    }
}

@media (max-width: 1023px) {
    .litepicker .container__footer {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
}

@media (max-width: 1023px) {
    .litepicker .container__footer .preview-date-range {
        width: 100%;
        display: block;
        order: 1;
        margin-bottom: .375rem;
    }
}

@media (max-width: 1023px) {
    .litepicker .container__footer .button-cancel {
        width: 100% !important;
        margin-left: 0 !important;
        padding-top: .375rem !important;
        padding-bottom: .375rem !important;
    }
}

@media (max-width: 1023px) {
    .litepicker .container__footer .button-apply {
        width: 100% !important;
        margin-left: 0 !important;
        padding-top: .375rem !important;
        padding-bottom: .375rem !important;
        margin-bottom: .375rem;
    }
}

.validation-box {
    box-shadow: 0 3px 5px #0000000b;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: .6rem;
    position: relative;
}

.validation-box::before {
    content: "";
    z-index: -1;
    box-shadow: 0 1px 2px #0000000d;
    height: 100%;
    background-color: #f8fafc;
    border: 1px solid #e2e8f0;
    position: absolute;
    border-radius: .5rem;
    left: .875rem;
    right: .875rem;
    top: 0;
    margin-top: .75rem;
}

.tooltip-box {
    box-shadow: 0 3px 5px #0000000b;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: .6rem;
    position: relative;
}

.tooltip-box::before {
    content: "";
    z-index: -1;
    box-shadow: 0 1px 2px #0000000d;
    height: 100%;
    background-color: #f8fafc;
    border: 1px solid #e2e8f0;
    position: absolute;
    border-radius: .5rem;
    left: .875rem;
    right: .875rem;
    top: 0;
    margin-top: .75rem;
}

[type=checkbox], [type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000;
}


/* Full Calendar */
.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(1) {
    order: 2;
}

.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(2) {
    order: 0;
}

.full-calendar .fc-toolbar .fc-toolbar-title {
    font-size: 1rem;
    font-weight: 500;
    color: #4F555C;
    font-family: GothamMedium, sans-serif;
}

.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group button {
    width: 5rem;
}

.full-calendar .fc-button-primary:not(:disabled):active, .full-calendar .fc-button-primary:not(:disabled).fc-button-active {
    color: #fff !important;
    background-color: #237C9E !important;
    border-color: #3C7589 !important;
}

.full-calendar .fc-toolbar-chunk .fc-button-primary:first-child {
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.full-calendar .fc-button-primary {
    font-weight: 400 !important;
    display: inline-block !important;
    border: 1px solid rgb(226 232 240 / 60%) !important;
    color: #64748b !important;
    background-color: transparent !important;
    text-transform: capitalize !important;
    padding: .4em .65em !important;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;
    box-shadow: 0 1px 2px #0000000d;
    align-items: center;
    justify-content: center;
    border-radius: .375rem;
    cursor: pointer;
}

.full-calendar .fc-toolbar-chunk .fc-button-primary:last-child {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

.full-calendar .fc-toolbar-chunk .fc-button-primary:first-child {
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
}

.full-calendar .fc-button-primary .fc-icon {
    font-size: 1.2em !important;
}

.full-calendar .fc-button-primary:disabled {
    opacity: .7;
    cursor: not-allowed;
}

.full-calendar .fc-theme-standard .fc-scrollgrid,
.full-calendar .fc-theme-standard th,
.full-calendar .fc-theme-standard td,
.full-calendar .fc-theme-standard .fc-list {
    border-color: #e2e8f099;
}

.full-calendar table tr th .fc-scrollgrid-sync-inner {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.full-calendar .fc-daygrid-dot-event .fc-event-title,
.full-calendar .fc-col-header-cell-cushion {
    font-weight: 500;
}

.full-calendar table {
    border-radius: .375rem;
}

.full-calendar table {
    border-radius: .375rem;
}

.full-calendar .fc-day-other {
    background-color: #f1f5f97f;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: rgba(255, 220, 40, .15);
}

.full-calendar .fc-event-title-container {
    padding: .25rem .5rem;
    font-size: .75rem;
}

.full-calendar .fc-daygrid-event {
    font-size: .75rem;
}

.full-calendar .fc-event-main {
    color: #237C9E;
    font-family: GothamMedium, sans-serif;
}

.full-calendar .fc-h-event {
    background-color: rgba(36, 123, 160, 0.15);
    border-color: rgba(36, 123, 160, 0.2);
    border-radius: .375rem;
}

.full-calendar .fc-today-button {
    color: #4F555C;
    font-family: GothamMedium, sans-serif;
}

.full-calendar .fc-daygrid-event-harness {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

/* Full Calendar */

/* ChartCardSlider.css */

.tns-item {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.tns-item.tns-slide-active {
    opacity: 1;
    transform: scale(1);
}

#tns3-mw {
    overflow: visible;
}


.profile-cover-img {
    background-image: url('./assets/images/profile-cover-img.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
    height: 37.6px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border: 1px solid #D5DDE7 !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
}

.ReactFlagsSelect-module_flagsSelect__2pfa2 {
    padding-bottom: 0 !important;
}

@media (max-width: 767px) {
    .dropdown {
        width: 100%;
    }
}


.general-lite-calendar .litepicker {
    left: 0 !important;
    top: 0 !important;
    margin-top: 0 !important;
    /*width: 288px !important;*/
    overflow: hidden !important;

    box-shadow: 0 3px 5px #0000000b !important;
    background-color: #fff !important;
    border: 1px solid #e2e8f0 !important;
    border-radius: .6rem !important;
    position: relative !important;
    height: 225px !important;
    width: 100% !important;
}


.general-lite-calendar .litepicker .container__months,
.general-lite-calendar .litepicker .container__footer {
    padding: 0 !important;
    width: 100% !important;
}

.general-lite-calendar .litepicker .container__months {
    height: 225px !important;
}

.general-lite-calendar .litepicker .container__months .month-item-header {
    padding-top: 0 !important;
}

.general-lite-calendar .litepicker .container__months .month-item-header .button-previous-month {
    order: 2 !important;
    /*margin-left: 6rem !important;*/
}

.general-lite-calendar .litepicker .container__months .month-item-header .button-next-month {
    order: 3 !important;
}

.general-lite-calendar .litepicker .container__months .month-item-header .button-previous-month,
.general-lite-calendar .litepicker .container__months .month-item-header .button-next-month {
    border: 0.9px solid #E4E7EB !important;
    border-radius: .375rem;;
    height: 25.6px !important;
    width: 24px !important;
}

.general-lite-calendar .litepicker .container__months .month-item-header .button-previous-month {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.general-lite-calendar .litepicker .container__months .month-item-header .button-next-month {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.general-lite-calendar .litepicker .container__months .month-item-header div > .month-item-name,
.general-lite-calendar .litepicker .container__months .month-item-header div > .month-item-year {
    color: #4F555C !important;
    font-weight: 500 !important;
    border: 0.9px solid #E4E7EB !important;
    margin: 0 !important;
    font-size: 12px !important;
}

.litepicker .container__months .month-item-header div {
    display: flex !important;
}

.general-lite-calendar .litepicker .container__months .month-item-header div > .month-item-name {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.general-lite-calendar .litepicker .container__months .month-item-header div > .month-item-year {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.litepicker .container__months .month-item-header .button-next-month svg {
    transform: rotate(-45deg) !important;
}

.general-lite-calendar .litepicker .container__months .month-item-weekdays-row {
    color: #272D3A !important;
    font-weight: 500 !important;
    margin-top: 10px !important;
}

.general-lite-calendar .litepicker .container__months .month-item-weekdays-row div:first-child {
    border-top-left-radius: .375rem !important;
}

.general-lite-calendar .litepicker .container__months .month-item-weekdays-row div:last-child {
    border-top-right-radius: .375rem !important;
}

.general-lite-calendar .litepicker .container__days .day-item {
    color: #272D3A !important;
    font-size: 12px !important;
    /*width: calc(100% / 7) !important;*/
    border: 0.5px solid #ECF0F4;
    border-radius: 0;
    /*border-top: none;*/
    position: relative;
    padding: 4.5px;
}

.general-lite-calendar .litepicker .container__months .month-item {
    width: 100% !important;
}

.general-lite-calendar .litepicker .container__days .day-item.is-today {
    position: relative;
    color: white !important;
}

.litepicker .container__months .month-item-weekdays-row > div {
    padding: 0;
    border: 0.5px solid #ECF0F4;
    /*border-bottom: none;*/
    text-transform: uppercase;
}

.general-lite-calendar .litepicker .container__days .day-item.is-today::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 27px;
    height: 27px;
    z-index: -1;
    color: white !important;
    font-weight: 500 !important;
    background-color: #337299;
    border-radius: 50%;
}

.general-lite-calendar .litepicker .container__days .day-item.is-start-date,
.general-lite-calendar .litepicker .container__days .day-item.is-end-date {
    position: relative;
    color: white !important;
    background-color: transparent;
}

.general-lite-calendar .litepicker .container__days .day-item.is-start-date::after,
.general-lite-calendar .litepicker .container__days .day-item.is-end-date::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 27px;
    height: 27px;
    z-index: -1;
    color: white !important;
    font-weight: 500 !important;
    border-radius: 50% !important;
    background-color: #EB9025 !important;
}

.general-lite-calendar .litepicker .container__days .day-item:nth-child(29) {
    border-bottom-left-radius: .375rem !important;
}

.general-lite-calendar .litepicker .container__days .day-item:nth-child(35) {
    border-bottom-right-radius: .375rem !important;
}

.general-lite-calendar .litepicker .container__days > div {
    width: calc(100% / 7);
}


.dsddsdssds {
    width: 100% !important;
}